<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--工場SID-->
    <add key="C_PLANT_ID" value="1" />
    <!--工程SID-->
    <add key="C_STATION_ID" value="1" />
    <!-- DB接続設定 -->
    <add key="DB_IP" value="192.168.1.38" />
    <add key="DB_NAME" value="rcd_20230704" />
    <add key="DB_USER" value="sa" />
    <add key="DB_PASSWORD" value="atrpt12345" />
    <!--OperationPC接続設定-->
    <add key="m_IP_ADDRESS" value="192.168.1.60" />
    <add key="m_CL_PORT" value="23000"/>
    <!--タイマー関連-->
    <add key="STATUS_UPDATE_INTERVAL" value="1000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  
    <!-- 今後削除予定-->
    <add key="IMAGE_PATH" value="C:\Users\admin\Desktop\RemoteControlDrive\RemoteControlDrive"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>